<h1>Giver: <%= @giver.name %> - <%= link_to 'Edit', edit_giver_path %></h1>
<h2>Gifts:</h2>
<% @giver.gifts.includes(:event).order("events.date, gifts.name").each do |gift| %>
  <ul>
    <li><%= link_to "#{gift.event.formatted_date} - #{gift.event.name}", event_path(gift.event) %>: <%= gift.name %></li>
  </ul>
<% end %>
