<br>
<button id="js-new-event-button">Create Event</button>

<br><br>

<div id="js-event-form"></div>

<% current_user.events.sort_by(&:date).each do |event| %>
  <ul>
    <li><%= event.formatted_date %> - <%= link_to event.name, event_path(event) %></li>
  </ul>
<% end %>

<!--load new event form-->
<script type="text/javascript" charset="utf-8">
  $('#js-new-event-button').on("click", function(event) {
    event.preventDefault()
    $.get('/events/new', function(data) {
      $('#js-event-form').html(data)
      $('#event_name_label').html("Name")
      $('#event_date_label').html("Date")
    })
  })
</script>
